
{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="mx-auto max-w-7xl sm:px-6 lg:px-8 bg-white">
    <div class="px-6 sm:pt-32 sm:pb-16 lg:px-8">
        <div class="mx-auto max-w-2xl text-center">
            <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">Conversor de AFD a GLC</h2>
            <p class="mt-6 text-lg leading-8 text-gray-600">Transforma tus Autómatas Finitos Deterministas en Potentes Gramáticas Libres de Contexto.</p>
        </div>
    </div>

    <div id="parent-container" class="flex flex-col items-center space-y-6 pb-24 max-w-full">
        <div class="flex flex-col space-y-12 lg:flex-row lg:space-x-12 lg:space-y-0 w-full">
            <!-- ESTADOS -->
            <div class="sm:mx-auto sm:w-full sm:max-w-[480px] min-h-min">
                <div class="bg-white px-6 py-6 shadow sm:rounded-lg sm:px-12 h-96 min-h-full overflow-auto">
                <h2 class="mx-auto font-bold text-xl text-center">Estados</h2>
                <div class="flex flex-col py-2 text-sm text-neutral-500">
                    <div class="flex flex-row space-x-4">
                    <p class="text-xs">&#9899;</p>
                    <p>Selecciona el estado inicial</p>
                    </div>
                    <div class="flex flex-row space-x-4">
                    <p>&#9745;</p>
                    <p>Marca los estados de aceptación</p>
                    </div>
                </div>
                    <div class="flex flex-row pt-2 mx-auto justify-center space-x-8 text-6xl ">
                        <button id="minus" class="hover:cursor-pointer">
                        -
                        </button>
                        <p id="states">0</p>
                        <button id="plus" class="hover:cursor-pointer">
                        +
                        </button>
                    </div>
                    <div id="states-div" class="flex flex-col pt-4 mx-auto space-y-2 items-center w-full">

                    </div>
                </div>
            </div>

            <!-- ALFABETO -->
            <div class="sm:mx-auto sm:w-full sm:max-w-[480px]">
                <div class="bg-white px-6 py-6 shadow sm:rounded-lg sm:px-12 h-96 min-h-full overflow-auto">
                <h2 class="mx-auto font-bold text-xl text-center">Alfabeto</h2>
                    <div class="pt-4">
                        <label for="terminals" class="sr-only">Email</label>
                        <input type="terminals" name="terminals" id="terminals" class="block w-full rounded-md border-0 p-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" placeholder="a, b, c">
                        <p class="mt-2 text-sm text-gray-500" id="email-description">Separa cada símbolo con una coma.</p>
                    </div>
                    <div class="flex flex-row justify-center mx-auto mt-6">
                        <button type="button" id="process" class="rounded-md bg-white px-3.5 py-2.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">Guardar alfabeto</button>
                    </div>
                </div>
            </div>

            <!-- FUNCIÓN DE TRANSICIÓN -->
            <div class="sm:mx-auto sm:w-full sm:max-w-[480px]">
                <div class="bg-white px-6 py-6 shadow sm:rounded-lg sm:px-12 h-96 min-h-full overflow-auto">
                <h2 class="mx-auto font-bold text-xl text-center">Función de transición</h2>
                <div id="transitions" class="flex flex-col mt-4 space-y-6">

                </div>

                </div>
            </div>
        </div>
        <div class="flex flex-row justify-center mx-auto mt-6">
            <button type="button" id="generate" class="invisible rounded-md bg-white px-3.5 py-2.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">Generar gramática</button>
        </div>

        <div id="result-div" class="hidden flex flex-col items-center space-y-12 w-full">

          <div>
            <h2 class="text-center font-bold text-xl">Diagrama del autómata</h2>
            <img id="diagram">
          </div>

            <hr class="border border-solid w-full">

          <div>
            <h2 class="text-center font-bold text-xl ">Gramática libre de contexto</h2>
            <div id="result-table" class="pt-6 text-center">
                <div class="mt-4 flow-root">
                    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                        <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
                            <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 sm:rounded-lg">
                                <table class="table table-bordered table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Variable</th>
                                            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Valor</th>
                                        </tr>
                                        <tr>
                                            <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6">V</td>
                                            <td id="vars" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"></td>
                                        </tr>
                                        <tr>
                                            <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6">Σ</td>
                                            <td id="sigma" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"></td>
                                        </tr>
                                        <tr>
                                            <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6">S</td>
                                            <td id="start-state" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"></td>
                                        </tr>
                                        <tr>
                                            <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6">F</td>
                                            <td id="accept-states" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"></td>
                                        </tr>
                                    </thead>
                                    <tbody id="result-body">

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            <div class="mt-6">
                <h3 class="text-center font-bold text-xl">Reglas</h3>
                <div id="transitions-cfg" class="mt-4 text-left">

                </div>
            </div>
          </div>
        </div>

        <div class="flex flex-col space-y-2" id="steps">
            <h3 class="text-center font-bold text-xl">Pasos para generar GLC</h3>
            <div id="steps-div">
                <ol class="list-decimal">
                    <li>Agregar una variable por cada estado del autómata: <span id="vars-span" class="font-bold"></span></li>
                    <li>El estado inicial se convierte en la variable inicial: <span id="start-var" class="font-bold"></span></li>
                    <li>Cada transición del AFD se convierte en una regla de la forma: xE <br> Donde "x" es la terminal que seguimos en la transición, y "E" es el estado al que nos lleva. Ejemplos:</li>
                    <ol class="list-disc" id="ejemplos-transiciones">
                    </ol>
                    <li>A los estados de aceptación se les agrega una regla que nos lleve a la cadena vacía. Aquí la representamos como <span class="italic">&epsilon;</span>.</li>

                </ol>
            </div>
        </div>

        <div class="flex flex-col space-y-2" id="producciones">
            <h3 class="text-center font-bold text-xl">Generar producción aleatoria</h3>
            <button type="button" id="produce" class="rounded-md bg-white px-3.5 py-2.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">Generar</button>
            <div id="produccion-pasos" class="text-center">
            </div>
        </div>


    </div>
</div>

<!-- Force tailwind to render these classes. Otherwise they don't appear, since they are added with js -->
<div class="hidden space-x-6 text-red-500">
</div>
<div class="hidden space-x-2">
</div>
{% endblock %}

{% block scripts %}
<script>
  let convertView = "{% url 'landing:convertView' %}";
  let csrfTokenn = "{{ csrf_token }}";
</script>
<script src="{% static 'backend/scripts.js' %}"></script>
{% endblock %}
